.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 3D button */
.button_div{
    width: 500px;
    height: 200px;
    background-color: rgb(134, 134, 236);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.button{
    display: block;
    margin: auto;
    border: none;
    color: white;
    background-color: rgb(134, 134, 236);
    padding: 20px;
    text-shadow: 3px 3px 3px black;
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.6), 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.2s ease;
    letter-spacing: 5px;
}
.button:active {
    transform: translate(0, 2px);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.6);
    filter: brightness(0.95);
    text-shadow: 1px 1px 3px black;
}

/* card */
.card{
    margin: 300px auto;
    padding: 10px;
    width: 400px;
    transition: 1s ease;
}
.img{
    margin:  0 auto 20px;
    transition: 1s ease;
}
.card_text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.card_title{
    font-size: 30px;
    color: brown;
}
.price{
    margin-top: 20px;
    font-size: 24px;
    color: red;
}
.add_button{
    border: none;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
/* card hover */
.card:hover{
    box-shadow:
    4px 0 10px 2px red,
    -4px 0 10px 2px red,
    0 4px 10px 2px red,
    0 -4px 10px 2px red;
    transform: scale(1.5);
    overflow: hidden;
}
.card:hover .img {
    filter: grayscale(100%);
}

/* flashing text */

.flashing_text {
    font-size: 140px;
    color: red;
    letter-spacing: 20px;
    animation: flashingText 0.5s linear 0s infinite alternate forwards;
}

@keyframes flashingText {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

/* spinner */
.spinner_ring{
    width: 500px;
    height: 500px;
    border: 50px solid green;
    border-top: 50px solid yellow;
    border-right: 50px solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.spinner{
    position: relative;
    width: 500px;
    height: 500px;
    margin-block: 200px;
}
.spinner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: green;
    font-size: 50px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.spinner_ring:hover{
    animation-play-state: paused;
}

/* header */
header{
    width: min(100%, 1440px);
    background-color: lightblue;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
}
.header_ul{
    display: flex;
    column-gap: 30px;
    flex-direction: row;
}
.header_a {
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 3px black;
    transition: 0.3s;
}

.header_a:hover {
    text-shadow:
            0 0 10px purple,
            0 0 20px purple,
            0 0 30px purple;
}

/* loading screen */
.loading_box{
    margin-block: 100px;
    width: 1000px;
    height: 40px;
    border: 3px solid black;
    overflow: hidden;
    box-sizing: border-box;
}
.loading_color {
    height: 100%;
    background-color: green;
    animation: loading 5s linear forwards;
}
@keyframes loading {
    0%{
        width: 0px;
    }
    100%{
        width: 1000px;
    }
}